<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.ChapterMapper" >
	<!-- 查询书籍目录 -->
	<select id="selectListChapter" parameterType="java.lang.String" resultType="com.it.po.Chapter">
		select * from chapter
		where book_name=#{name}
	</select>
	
	<!-- 查询书籍具体目录根绝flag -->
	<select id="selectChapterByflag" parameterType="java.lang.String" resultType="com.it.po.Chapter">
		select * from chapter
		where chapterflag=#{chapterflag}
	</select>
 </mapper>