<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.it.mapper.UserMapper" >
	<!-- 根据用户的名称查找用户 -->
	<select id="findUserByName" parameterType="java.lang.String" resultType="com.it.po.User">
	select *from user where name=#{name}
	</select>
	<!-- 根据id查询用户 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.it.po.User">
    select *
    from user
    where id = #{id}
  </select>
  <!-- 添加用户 -->
  <insert id="insert" parameterType="com.it.po.User" >
    insert into user (name, password, 
      picture, phone, mail
      )
    values (#{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}
      )
  </insert>
  <!-- 根据用户id更新 -->
  <update id="updateByPrimaryKey" parameterType="com.it.po.User" >
    update user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>